@import url(http://fonts.googleapis.com/css?family=PT+Sans|Droid+Serif|Droid+Sans:400,700);

body {
	padding-bottom: 40px;
}

body, input, select, button, textarea {
	font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#title {
	height: 60px;
	font-size: 36px;
}

#content {
	font-family: Consolas, monospace;
	font-size: 14px;
}

#editor .page-header {
	margin-top: 0;
}

#editor > .modal-dialog {
	width: 95%;
	height: 95%;
}

#editor .body {
	overflow: auto;
}

#article .body,
#article .body h1,
#article .body h2,
#article .body h3,
#article .body h4,
#editor .body,
#editor .body h1,
#editor .body h2,
#editor .body h3,
#editor .body h4 {
	font-family: 'Droid Serif', serif;
	line-height: 1.8;
}

#article .body pre code,
#editor .body pre code {
	font-size: 12pt;
}

#article .body,
#editor .body {
	font-size: 16pt;
	line-height: 1.45;
}

#article .title,
#title {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
}
