body {
	padding-bottom: 40px;
}

body, input, select, button, textarea {
	font-family: 'PT Sans', sans-serif;
}

#title {
	font-size: 36px;
	height: 60px;
}

#content {
	font-family: Consolas, monospace;
	font-size: 14px;
}

#editor .page-header {
	margin-top: 0;
}

#editor > .modal-dialog {
	width: 85%;
}

#editor .body {
	overflow: auto;
}
