<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%- blocks.title %></title>
    <%- stylesheets %>
    <% stylesheet('//fonts.googleapis.com/css?family=PT+Sans:400,700') -%>
    <% stylesheet('/css/bootstrap-3.0.0.css') -%>
    <% stylesheet('/css/style.css') -%>
</head>
<body>
    <%- body %>

    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap-3.0.0.min.js"></script>
    <%- scripts %>
</body>
</html>
